.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #666666;
    text-decoration: none;
    width: 100%;
    padding: 16px 10px;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #363062;
}

@media (min-width: 800px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        align-items: center;
        width: auto;
    }
    
    .NavigationItem a {
        color: #666666;
        height: 100%;
        padding: 16px 10px;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        color: #363062;
    }
}